<div class="container mb-5">
  <div class="container">
    <div class="col text-center my-5">
      <h1>{{titulo}}</h1>
    </div>
    <div class="col-8 offset-2">
      <img [src]="getSvgUrl(mapa)" alt="Mapa SVG">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Horarios</h2>
      </div>
    </div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> HORARIOS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Campo 01 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Campo 02 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Campo 03 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol2">
        <mat-header-cell *matHeaderCellDef> Campo 04 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol2}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
