
.titulo{
  font-size: 36px;
}

/* Estilo general para la tabla */
.custom-table {
  width: 100%;
  /* border-collapse: collapse; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para las filas con efecto hover */
.custom-row:hover {
  background-color: #92bcece7;
  cursor: pointer;
  color: rgb(250, 248, 248);
}

.horarios{
  font-size: 25px;
  justify-content: center;
}

.encabezados{
  font-size: 20px;
  justify-content: center;
}



.modal {
  z-index: 1051; /* Ajusta este valor según sea necesario */
}

body .modal-backdrop {
  z-index: 900;
}

